:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }

html {
box-sizing: border-box;
/* Set font size for easy rem calculations
    * default document font size = 16px, 1rem = 16px, 100% = 16px
    * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px    */
font-size: 62.5%;
scroll-behavior: smooth;
}
/* For Responsive Web Design we can do the calculation as follows:
    1200px - 1200/16 = 75rem
    980px - 980/16 = 61.25rem
    460px - 460/16 = 28.75rem  */
body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    background-color: var(--main-red);
}


* {
    margin: 0;
    padding: 0;
}
a:hover, a:active, a:link, a:visited {
    text-decoration: none;
    color: white;
}
.nav {
    padding: 1em;
}
#header-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-red);
}

#header-nav a {
    margin-right: 2em;
    font-size: 2.5rem;
}

#About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-gray);
}
h1 {
    font-size: 6rem;
    color: white;
}

#About p {
    font-size: 4.2rem;
    color: var(--main-red);
}

#Works {
    background-color: var(--main-blue);
    width: 100%;
    padding: 5em 0 5em 0;
}

#Works_header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: -10em;
    padding-bottom: 2em;
    border-bottom: 2px solid #fff;
    width:fit-content;
}

h3 {
    color: #f0f0f0;
    font-size: 2.5em;
}

#Works_projects {
    display: flex;
    flex-wrap: wrap;
}

img {
    display: block;
    width: 100%;
    }

.project {
    width: 30%;
    margin: 5em 10%;
    background-color: var(--main-gray);
    text-align: center;
}

.project p {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#Show_all {
    width:fit-content;
    margin: 0 auto;
    padding: 0.5em 0.7em;
    border-radius: 3px;
    background-color: var(--main-gray);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--main-white);
}

#Contact {
    padding-top: 10em;
    background-color: var(--main-gray);

}

h2{
    color: var(--main-white);
    font-size: 5rem;
    text-align: center;
}

p {
    color: var(--main-white);
    text-align: center;
}

#Contact-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    padding: 5em 0 10em 0;
}

#Contact-nav a {
    margin: auto;
    font-size: 2.5rem;
}

footer {
    margin-top: 0.4rem;
    padding: 5rem;
    background-color: var(--main-gray);
    display: flex;
    justify-content: space-evenly;
}

footer p {
    font-size: 2rem;
    width: 50%;
    text-align: center;
}

a:hover{
    scale: 1.2;
    animation-duration: 500ms;
}

@media (max-width: 960px){
    .project{
        width: 60%;
        margin: 20%;
    }

    #Contact-nav a{
        text-align: center;
        margin: 1.5rem auto;
        padding: 1rem;
    }

    h3 {
        font-size: 2em;
    }
    h2 {
        font-size: 4rem;
    }

    h1 {
        font-size: 5rem;
    }
}

@media (max-width: 450px){
    h3 {
        font-size: 1em;
    }
    h2 {
        font-size: 3rem;
    }
    h1 {font-size: 4rem;
    }
}